<br><br><br><br><br><br>

        <div class="panel">
	<div class="heading">
            <span class="icon mif-loop2" ng-click="tampilkanData()" style="cursor: pointer;"></span>
		<span class="title">List Books</span>
                
                
	</div>
	<div class="content">
            <table style="width: 100%;" class="table">
			<thead>
				
                                <th style="text-align: center;">Judul</th>
                                <th style="text-align: center;">Genre</th>
				<th style="text-align: center;">Jenis</th>
					
			</thead>
			<tbody>
				<tr ng-repeat="buku in data">
                                    <td style="text-align: center;">{{buku.judul}}</td>
                                    <td style="text-align: center;">{{buku.genre}}</td>
                                    <td style="text-align: center;">{{buku.jenis}}</td>
                                </tr>
			</tbody>	
		</table>	
	</div>
</div>
        